In [1]:
price = int(input('enter a total price'))
if price >= 2000:
    discount = price * .05  # 5% discount
    price -= discount
print(price)

1200

In [3]:
num = 291
if num % 2==0:
    print('even')
else:
    print('odd')

odd

In [4]:
num = int(input('enter a number'))
if num % 2==0:
    print('even')
else:
    print('odd')

even

In [1]:
vowel = str(input('enter a char'))
if vowel in 'aeiou':
    print ('char is a vowel')
else:
    print('char is not a vowel')

char is not a vowel

In [6]:
x = [1,2,5,5,1,6,6]
for i in x:
    print(i)

1
2
5
5
1
6
6

In [5]:
#range(function-generates a sequence of number)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
#range(start, stop)-generates a sequence of number  from start to end
for i in range(10,15):
    print (i)

10
11
12
13
14

In [3]:
#range(start,stop,step)-generates a sequence of number  from start to stop,incrementing by step
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [2]:
total = 0
i = 1
while i <= 10:
    total += i
    i += 1
print(total)

55

In [7]:
x = [1,0,2,3,0,4,0,5]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5

In [8]:
x = [1,0,2,3,4,0,5]
for i in x:
    if i == 0:
        break
    print(i)

1

In [1]:
def evenodd(a):
    if a%2==0:
        return(True)
    else:
        return(False)

In [2]:
evenodd(66)

True

In [3]:
evenodd(97)

False

In [4]:
def my_func():
    return 'welcome','to','My Club'
my_func()

('welcome', 'to', 'My Club')

In [6]:
a,b,c=my_func()
a

'welcome'

In [7]:
b

'to'

In [8]:
c

'My Club'

In [9]:
def check_prime():
    a = 541
    for i in range(2, a):
        if a%i ==0:
            return 'not prime'
            break
    else:
        return 'prime'

In [10]:
check_prime()

'prime'

In [11]:
var = check_prime()

In [12]:
print(var)

prime

In [13]:
def maxin(numbers):
    mx = max(numbers)
    mn = min(numbers)
    return mx, mn

In [14]:
maxin([1,2,3,4,5])

(5, 1)

In [15]:
a,b = maxin([1,2,3,4,5])
print(a)
print(b)

5
1

In [ ]:
x = maxmin([])

In [16]:
def default_function(a=50,b=100):
    return a+b

In [17]:
default_function()

150

In [18]:
default_function(a=99)

199

In [19]:
default_function(b=120)

170

In [20]:
def add3(a,b=1,c=1):
    return a+b+c

In [21]:
add3(20)

22

In [23]:
add3(20,2)

23