In [1]:
my_string = 'class'
print(my_string)

class

In [2]:
my_string = "class"
print(my_string)

class

In [3]:
my_string = '''class'''
print(my_string)

class

In [ ]:
str = 'Pomogranate'
print('str = ', str)

In [1]:
#first character
print ('str [0] =', str[0])

TypeError: type 'str' is not subscriptable

In [2]:
name = "Vijay Deenanath Chauhan"
print(name)
print(len(name))

Vijay Deenanath Chauhan
23

In [3]:
middle_name = name[6:15]
print(middle_name)
first_name = name[:5]
print(first_name)
last_name = name[16:]
print(last_name)
last_name = name[-7:]
print(last_name)

Deenanath
Vijay
Chauhan
Chauhan

In [13]:
sentence = 'The Quick Brown Fox Jumps Upon a Lazy Dog '
f15 = sentence[:15]
print(f15)
f15 = sentence[:-5]
print(15)

The Quick Brown
15

In [6]:
amt = '$3000'
cleaned = amt[1:]
int(cleaned)

3000

In [7]:
username = '@champion🎆🎊'
print(username[1:-2]) #leave the first char and last 2 char

champion

In [ ]:
slicing syntax
str[star:stop:step]

In [8]:
name[:15:2]

'VjyDeaah'

In [9]:
name[::2]

'VjyDeaahCahn'

In [11]:
name[::-1]

'nahuahC htananeeD yajiV'

In [15]:
x = chr(65)
print(x)

A

In [16]:
x = chr(2365)
print(x)

ऽ

In [17]:
x = chr(12365)
print(x)

き

In [18]:
y = ord('A')
print(y)

65

In [19]:
y = ord('a')
print(y)

97

In [20]:
y = ord('{')
print(y)

123

In [1]:
msg = 'journey before destination'
msg2 = msg.upper()
msg3 = msg.lower()
msg4 = msg.capitalize()
print("original",msg)
print ("upper" ,msg 2 )
print ("lower",msg 3)
print ("capitalize",msg 4)

SyntaxError: invalid syntax (1334517179.py, line 2)

searching and replacing 
  > find() and index()
  >replace()

In [2]:
word = "An apple a day keeps the doctor away"
print(word.find('keeps the'))
print(word.find('apple'))
print(word.find('the'))
print(word.find('mango'))

15
3
21
-1

In [4]:
word = "An apple a day keeps the doctor away"
word2 = word.replace('doctor','hospital')
word3 = word.replace('e','u')
word4 = word.replace('doctor','hospital').replace('day','night').replace('apple','mango')
print(word)
print(word2)
print(word3)
print(word4)

An apple a day keeps the doctor away
An apple a day keeps the hospital away
An applu a day kuups thu doctor away
An mango a night keeps the hospital away

>count()
>split()
>join()

In [5]:
word.count('fx')

0

In [6]:
word.split()

['An', 'apple', 'a', 'day', 'keeps', 'the', 'doctor', 'away']

In [7]:
msg = 'olivia rose , 25 , New York'
msg.split(",")

['olivia rose ', ' 25 ', ' New York']

In [11]:
poem  = '''Twinkle twinkle, little star
how I wonder , what you are? 
Up above the were so high..
like a daimond , in the sky'''
print(poem)
print (poem.splitlines())

Twinkle twinkle, little star
how I wonder , what you are?
Up above the were so high..
like a daimond , in the sky
['Twinkle twinkle, little star', 'how I wonder , what you are? ', 'Up above the were so high..', 'like a daimond , in the sky']

In [12]:
poem

'Twinkle twinkle, little star\nhow I wonder , what you are? \nUp above the were so high..\nlike a daimond , in the sky'

Validating function-
 -endswith
 -startswith
 -isalpha
 -isnumeric

In [14]:
file = 'hello.sky'
print(file.endswith('.sky'))
print(file.endswith('.ky'))
print(file.endswith('sky'))
print(file.endswith('blue'))

True
False
True
False